footer {
    color: $footer-color;
    font-size: $font-size_md;
    a {
        color: $footer-color;
    }
    h2 {
        font-weight: 700;
        color: $bg-white;
    }
}

.footer-top {
    padding-top: 47px;
    padding-bottom: 22px;
    background-color: $footer-top-bg;
    ul {
        list-style: none;
    }
    &__contacts {
        width: 25%;
    }
    &__logo {
        padding-bottom: 16px;
    }
    &__adres {
        padding-bottom: 21px;
    }
    &__tell {
        padding-bottom: 22px;
    }
    &__letter {
        padding-bottom: 26px;
    }
    &__nav {
        width: 50%;
        gap: 50px;
    }
    &__newsletter {
        width: 25%;
        h2 {
            padding-bottom: 22px;
        }
        form {
            padding-bottom: 8px;
        }
    }
    &__email {
        width: 100%;
        outline: none;
        box-shadow: 0 0 0 .5px $breadcrumb-color;
        border-radius: 39px;
        padding: 11px 11px 12px 18px;
        input {
            max-width: 86%;
            background-color: transparent;
            outline: none;
        }
    }
    &__language {
        box-shadow: 0 0 0 .5px $breadcrumb-color;
        border-radius: 39px;
        padding: 0 53px;
        height: 45px;
        margin-bottom: 32px;
        select {
            appearance: none;
            background: url(./../img/icons/selectbot.svg) no-repeat right;
            background-size: 10px;
            padding-right: 22px;
            outline: none;
            color: $bg-white;
            option {
                background-color: $footer-top-bg;
            }
        }
    }
    &__socials {
        gap: 5px;
    }
}

.footer-bot {
    background-color: $footer-bot-bg;
}