%margin {
    margin: 0 auto;
}

%marginauto {
    margin: auto;
}

%d-flex {
    display: flex;
}

// %d-flex-w-wrap {
//     display: flex;
//     flex-wrap: wrap;
// }
%t-a-center {
    text-align: center;
}

%d-i-block {
    display: inline-block;
}

%list-s-none {
    list-style: none;
}

%lato {
    font-family: $lato;
}