$lato: 'Lato',
sans-serif;
$font-size_xsm: 4px;
$font-size_sm: 12px;
$font-size_md: 13px;
$font-size_lg: 15px;
$font-size_xl: 17px;
$font-size_xxl:28px;
//-------------------------------------
$font-size_index_sm:4px;
$font-size_index_md:5.5px;
$font-size_index_lg:6px;
$font-size_index_xl:8.5px;
//-------------------------------------
$breakpoint_xxl: 1144px;
$breakpoint_xl: 1024px;
$breakpoint_lg: 860px;
$breakpoint_md: 768px;
$breakpoint_sm: 425px;
$breakpoint_xsm: 375px;
//--------------------------------------
$background-header__top:#F4F4F4;
$bg-white: white;
$black: black;
$header-color-text:#17181A;
$heder-color-hover: #6b6b6b;
$color-shadow:#00000059;
$bg-main-color:#E5E5E5;
$breadcrumb-color-active:#73962C;
$green-two:#99C63C;
$breadcrumb-color:#43464C;
$catalog-reset-color-a:#EB5757;
$catalog-reset-color:#515151;
$lite-grey:#BDBDBE;
$color-shadow-item: #a5a5a559;
$index-hot-bg:#F3F3F3;
$color-hot-text:#FF4545;
$index-like-bg:#2268B4;
$footer-top-bg:#26282C;
$footer-bot-bg:black;
$footer-color:#BDBDBE;